# To get started, copy this file to `config.yml` and then use one of
# the configurations below to point it at your build server.  You'll
# need to include the line starting with a '-'.  That's how the config
# files knows it's a list.

# The `projects` and `ignored_projects` options are optional. By default, Stoplight
# will use all projects returned from the given url. If you want to blacklist,
# use `ignored_projects`. If you want to whitelist, use `projects`.
#
# The `culprits` option is false by default. If enabled, it will provide
# show the gravatars of the user's who broke the builds. However, for most
# providers, this entails making additional HTTP request, which can slow
# Stoplight's performance.

# Example Jenkis configuration
# -
#   type: 'jenkins'
#   url: http://ci.jenkins.org
#   username: my_username
#   password: my_password
#   culprits: false
#   projects:
#     - mail    # build named "mail"
#     - /^test/ # all builds starting with "test"
#   ignored_projects:
#     - not_me  # ignore the project named "not_me"


# Example Travis configuration
# -
#   type: 'travis'
#   url: http://travis-ci.org
#   owner_name: my_projects # usually your github username
#   culprits: true
#   projects:
#     - mail    # build named "mail"
#     - /^test/ # all builds starting with "test"
#   ignored_projects:
#     - not_me  # ignore the project named "not_me"

# Example Icinga configuration
# -
#   type: 'icinga'
#   url: http://icinga.example.com
#   kind: service # or host
#   apikey: my_apikey
#   projects:
#     - web01.example.com # host named "web01.example.com"
#     - /^monitoring01/   # all hosts ors services starting with "monitoring01"
#   ignored_projects:
#     - /^stg-/  # ignore the hosts and services  starting with "stg-"

# Example Monit configuration
# -
#   type: 'monit'
#   url: http://monit.example.com
#   username: admin
#   password: monit
#   projects:
#     - web01.example.com # host named "web01.example.com"
#     - /^monitoring01/   # all hosts ors services starting with "monitoring01"
#   ignored_projects:
#     - /^stg-/  # ignore the hosts and services  starting with "stg-"
